<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="Chagas Thai">
    <meta name="description" content="Academia de Muay Thai de Santa Cruz do Sul. Aqui é possível desfrutar das técnicas ensinadas por Dario Chagas.">
    <meta name="keywords" content="Muay Thai, Academia, SCS, Santa Cruz do Sul,">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="Portuguese">
    <title>{{ .Site.Title }}</title>
    <link rel="shortcut icon" type="image/x-icon" href="images/logo.png" style="border-radius: 100%;"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Oswald:wght@200..700&display=swap" rel="stylesheet">
</head>
<body>
    {{ partial "header.html" . }}

    <main>
        {{ .Content }}
    </main>

    {{ partial "footer.html" .}}
</body>

<style>
    * {
        margin:0;
        -webkit-tap-highlight-color: transparent;

    }
    body, html{
        color-scheme: light dark;
        color: white;
        width: 100%;
    }
   
    main { 
        font-family: "Roboto";
        position: relative;
        padding-top: 3rem;
        width: 100%;
    } 

    p {
        color: lightgray;
    }
    h1, h2, h3, h4, h5, h6, a {
        color: white;
    }
</style>
</html>
